etherbotix:
  ros__parameters:
    default_controllers:
      - "base_controller"
    base_controller:
      type: "robot_controllers/DiffDriveBaseController"
      max_velocity_x: 0.243
      max_acceleration_x: 0.5
      # Base width in meters
      track_width: 0.150
      # 73mm wheels = 0.2293m rollout = 4.36 rotations / meter
      radians_per_meter: 27.397
      # hold position
      moving_threshold: -0.01
      rotating_threshold: -0.01
      # autostart to get odom
      autostart: true
      # name of joints
      l_wheel_joints:
        - "lf_wheel_joint"
      r_wheel_joints:
        - "rf_wheel_joint"
    # 400cpr * 30:1
    ticks_per_radian: 1909.8
    # Tuned 3/8/2023
    motor_kp: 4.0
    motor_kd: 0.0
    motor_ki: 0.15
    motor_kw: 400.0
    # Name for joints
    l_motor_name: "lf_wheel_joint"
    r_motor_name: "rf_wheel_joint"
    # TODO add neck joint at ID 13
